{% extends 'sentiment/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h2>Check Bot Accounts</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Select CSV File with "screen_name" column:</label>
    <input type="file" name="file" accept=".csv" />
    <button type="submit">Check Bots</button>
  </form>

  {% if messages %}
    <ul class="mt-3">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}

